html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

main {
    margin-bottom: 7em;
}

h1 {
    margin: 0;
}

header {
    margin: 1em 0 1em 0;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
    padding: 4% 0;
}

.calendar-month-year {
    text-align: left;
    font-weight: bold;
}

.calendar-activity-dot {
    background-color: var(--groen);
    border-radius: 99em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

table a {
    color: var(--wit);
    text-decoration: none;
}

#activity-overlay {
    position: fixed;
    background-color: var(--paars);
    margin: 0 var(--padding) 0 0;
    border: 2px solid var(--wit);
    border-radius: 1em;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);

    visibility: hidden;
}

#activity-overlay:target {
    visibility: visible;
}

.activity-overlay-img {
    width: 100%;
    margin-bottom: 1em;
}

#activity-overlay h2, #activity-overlay h3, #activity-overlay p {
    margin: 0;
}

#activity-overlay .activity-overlay-header, #activity-overlay h3, #activity-overlay .activity-overlay-info {
    margin-bottom: 0.5em;
}

.activity-overlay-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
}

#activity-overlay .close-btn {
    align-self: center;
    width: fit-content;
    height: fit-content;
}

.bold {
    font-weight: bold;
}

.meerinfo-btn {
    display: flex;
    color: var(--wit);
    text-decoration: none;
    background-color: var(--groen);
    width: fit-content;
    padding: 1em 1.3em;
    border-radius: 0.5em;
    gap: 0.3em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    
}




.nav_bar_kalender::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
}