html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

header {
    margin: 1em 0 1em 0;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
    padding: 4% 0;
}

.calendar-month-year {
    text-align: left;
    font-weight: bold;
}

.calendar-activity-dot {
    background-color: var(--groen);
    border-radius: 99em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

main {
    margin-bottom: 7em;
}




.nav_bar_kalender::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
}