html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--wit);
    margin: 0;
    background-color: var(--paars);
    padding: var(--padding);
}

p, ul {
    font-size: var(--fontsizeP);
}

header {
    display: flex;
    flex-direction: column;
}

h1, header {
    font-weight: normal;
    text-align: center;
}

h1, header p {
    font-size: var(--fontsizeP);
}

.headerlogo {
    width: 15em;
    margin: -6.5em 0 -7.3em 0;
}

hr {
    border: 2px solid var(--wit);
    border-radius: 10em;
}

.kernwaarden_section {
    text-align: center;
}

.kernwaarden {
    display: flex;
    justify-content: space-between;
}

.kernwaarden p {
    margin-top: 0.2em;
}

.algemene_uitleg {
    margin: 4em 0 0 0;
}

.mindyonderlijn {
    text-decoration: underline;
}

.paragraaf_mindy {
    display: flex;
}

.mindy_dumbbell {
    width: 35%;
    order: 5;
}

.wat_doen_we_section {
    margin: 0;
}

.klaar_start_section {
    text-align: center;
    margin: 4em 0 8em 0;
}












.nav_bar {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--wit);
    border-radius: 99em;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: var(--padding);
    left: var(--padding);
    right: var(--padding);
    background-color: var(--paars);
    padding: 0.5em 0;
}

.nav_bar_home, .nav_bar_kalender, .nav_bar_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar_home img, .nav_bar_kalender img, .nav_bar_shop img{
    width: 2em;
}

.nav_bar a {
    text-decoration: none;
    color: var(--wit);
}

.nav_bar p {
    margin: 0.3em 0 0 0;
    font-size: 0.9em;
}

.nav_bar_home::after {
    content: '';
    position: relative;
    bottom: -2px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
    /*transition: background-color 0.3s;*/
}