html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--wit);
    margin: 0;
    background-color: var(--paars);
    padding: var(--padding);
}

p, ul {
    font-size: var(--fontsizeP);
}

header {
    display: flex;
    flex-direction: column;
}

h1, header {
    font-weight: normal;
    text-align: center;
}

h1, header p {
    font-size: var(--fontsizeP);
}

.headerlogo {
    width: 15em;
    margin: -6.5em 0 -7.3em 0;
}

hr {
    border: 2px solid var(--wit);
    border-radius: 10em;
}

.kernwaarden_section {
    text-align: center;
}

.kernwaarden {
    display: flex;
    justify-content: space-between;
}

.kernwaarden p {
    margin-top: 0.2em;
}

.algemene_uitleg {
    margin: 4em 0 0 0;
}

.mindyonderlijn {
    text-decoration: underline;
}

.paragraaf_mindy {
    display: flex;
}

.mindy_dumbbell {
    width: 35%;
    order: 5;
}

.wat_doen_we_section {
    margin: 0;
}

.klaar_start_section {
    text-align: center;
    margin: 4em 0 8em 0;
}