html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    margin: 1em 0 1em 0;
}

h1 {
    justify-self: center;
    margin: 0;
}

.winkelmand-btn {
    font-size: 1em;
    justify-self: flex-end;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    color: var(--wit);
}

.back-btn {
    align-self: center;
    width: fit-content;
    height: fit-content;
}

.back-icon {
    display: block;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 7em;
}

h2, h3, p, ul {
    margin: 0;
}

.product-img {
    border: 2px solid var(--wit);
    border-radius: 0.5em;
}

.addtocart-btn {
    display: flex;
    color: var(--wit);
    text-decoration: none;
    background-color: var(--groen);
    width: fit-content;
    padding: 1em 1.3em;
    border-radius: 0.5em;
    gap: 0.3em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.addtocart-btn p {
    margin: 0;
}

.product-description p {
    margin-bottom: 1em;
}



.nav_bar_shop::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
}