html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

h2, p {
    margin: 0;
}

main {
    margin-bottom: 7em;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 1em 0 1em 0;
}

h1 {
    margin: 0;
}

.cart-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.cart-item-wrapper {
    display: flex;
    width: 100%;
}

.cart-item-image {
    width: 7em;
    border: 2px solid var(--wit);
    border-radius: 0.5em;
    margin-right: 0.5em;
}

.cart-trash {
    align-items: center;
    margin: 0 0 0 auto;
}

hr {
    border: 2px solid var(--wit);
    border-radius: 99em;
    margin-top: 2em;
}

.addtocart-btn {
    display: flex;
    color: var(--wit);
    text-decoration: none;
    background-color: var(--groen);
    width: fit-content;
    padding: 1em 1.3em;
    border-radius: 0.5em;
    gap: 0.3em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.addtocart-btn p {
    margin: 0;
}

.total-price {
    font-weight: bold;
    font-size: 1.5em;
}

.cart-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.nav_bar_shop::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
}