html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --padding: 1.2em;

    --fontsizeP: 1.2em;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    margin: 1em 0 1em 0;
}

h1 {
    justify-self: center;
    margin: 0;
}

.winkelmand-btn {
    font-size: 1em;
    justify-self: flex-end;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    color: var(--wit);
}

header .back-btn {
    align-self: center;
}

.back-icon {
    display: block;
}






.nav_bar_shop::after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 3.5em;
    height: 5px;
    border-radius: 99em;
    background-color: var(--groen);
}